{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
 [
  {fifo_spec, "~>0.1.27"},
  {lager, "~>2.1.1"}
 ]}.

{profiles,
 [
  {lint,  [{plugins, [{rebar3_lint, {git, "https://github.com/project-fifo/rebar3_lint.git", {tag, "0.1.4"}}}]}]}
 ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
