{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps,
 [
  {fifo_spec, ".*", {git, "https://github.com/project-fifo/fifo_spec.git", {tag, "0.1.23"}}},
  {lager, "2.1.1"}
 ]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls, deprecated_functions]}.
