{lib_dirs, ["deps"]}.
{erl_opts, [{i, "../alog/include"}, {i, ".."}, {i,"deps"}, debug_info, {parse_transform, lager_transform}]}.
{deps,
 [
  {backyard, ".*", {git, "http://github.com/project-fifo/backyard.git", {tag, "0.1.0"}}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.0.0"}}}
 ]}.
